---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          <img class="logo" src="/nk-logo.svg" alt="NK logo" width="50" height="35" fetchpriority="high"/>
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          blogi
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projektit
        </Link>
      </nav>
    </div>
  </Container>
</header>


<style>
  .logo path {
    fill: #000;
  }

  @media (prefers-color-scheme: dark) {
    .logo path {
      fill: #fff;
    }
  }
  @media (prefers-color-scheme: ligth) {
    .logo path {
      fill: #000;
    }
  }
</style>